<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>

    
    <nav class = "navbar navbar-expand navbar-light bg-light">
      <a class = "nav nav-pills"></a>
      <ul class = "nav vnav-pills">
        <li> <a class = "nav-link" [routerLink] = "['/home']">Home</a></li>
       <li><a class = "nav-link" [routerLink] = "['/movie']">Movie </a></li>
        <li><a class = "nav-link" [routerLink] = "['/about']">About Us </a></li> 
    </ul>
    </nav>
    <div class = "container">
       </div>
<router-outlet></router-outlet>
   